{% extends 'authapp/base.html' %}
{% load static %}

{% block title %}Login - BillDeck{% endblock %}

{% block content %}
						<form action="{% url 'login' %}" method="post" class="d-flex justify-content-center align-items-center">
                            {% csrf_token %}
							<div class="d-flex flex-column justify-content-lg-center p-4 p-lg-0 pb-0 flex-fill">
								<div class=" mx-auto mb-5 text-center">
									<img src="{% static 'img/logo.svg' %}" class="img-fluid" alt="Logo">
								</div>
								<div class="card border-0 p-lg-3 shadow-lg">
									<div class="card-body">
										<div class="text-center mb-3">
											<h5 class="mb-2">Sign In</h5>
											<p class="mb-0">Please enter below details to access the dashboard</p>
										</div>
										<div class="mb-3">
											<label class="form-label">Email Address</label>
											<div class="input-group">
												<span class="input-group-text border-end-0">
													<i class="isax isax-sms-notification"></i>
												</span>
												<input type="email" name="email" class="form-control border-start-0 ps-0" placeholder="Enter Email Address">
											</div>
										</div>
										<div class="mb-3">
											<label class="form-label">Password</label>
											<div class="pass-group input-group">
												<span class="input-group-text border-end-0">
													<i class="isax isax-lock"></i>
												</span>
												<span class="isax toggle-password isax-eye-slash"></span>
												<input type="password" name="password" class="pass-inputs form-control border-start-0 ps-0" placeholder="****************">
											</div>
										</div>
										<div class="d-flex align-items-center justify-content-between mb-3">
											<div class="d-flex align-items-center">
												<div class="form-check form-check-md mb-0">
													<input class="form-check-input" id="remember_me" type="checkbox" name="remember_me">
													<label for="remember_me" class="form-check-label mt-0">Remember Me</label>
												</div>
											</div>
											<div class="text-end">
												<a href="{% url 'forgot_password' %}">Forgot Password</a>
											</div>
										</div>
										<div class="mb-1">
											<button type="submit" class="btn bg-primary-gradient text-white w-100">Sign In</button>
										</div>
										<div class="login-or">
											<span class="span-or">Or</span>
										</div>
										<div class="mb-3">
											<div class="d-flex align-items-center justify-content-center flex-wrap">
												<div class="text-center me-2 flex-fill">
													<a href="javascript:void(0);"
														class="br-10 p-1 btn btn-light d-flex align-items-center justify-content-center">
														<img class="img-fluid m-1" src="{% static 'img/icons/facebook-logo.svg' %}" alt="Facebook">
													</a>
												</div>
												<div class="text-center me-2 flex-fill">
													<a href=""
														class="br-10 p-1 btn btn-light d-flex align-items-center justify-content-center">
														<img class="img-fluid m-1" src="{% static 'img/icons/google-logo.svg' %}" alt="Google">
													</a>
												</div>
											</div>
										</div>
										<div class="text-center">
											<h6 class="fw-normal fs-14 text-dark mb-0">Don’t have an account yet?
												<a href="{% url 'register' %}" class="hover-a"> Register</a>
											</h6>
										</div>
									</div><!-- end card body -->
								</div><!-- end card -->
							</div>
						</form>
{% endblock %}